* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blue-dark);
    color: var(--gray-10);
}

h1 {
    font: var(--title-xl);
    color: var(--gray-0);
    letter-spacing: 2px;
}
h2 {
    font: var(--title-l);
}
h3 {
    font: var(--title-m);
    letter-spacing: 1px;
}
p {
    font: var(--text-body);
    line-height: 130%;
}
.text-s {
    font: var(--text-s);
}
a,
button {
    font: var(--button);
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: var(--gray-10);
}
button {
    background: none;
    border: none;
}

strong {
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 75px 0;
    padding: 0 20px;
}