.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
}

.menu__logo {
    height: 80px;
    z-index: 2;
}

.menu__btn {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.menu__btn-langue{
    display: flex;
    gap: 10px;
    position: relative;
}

.menu__btn-langue a{
    color: var(--gray-0);
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
}

.menu__btn-bar{
    width: 2px;
    background-color: var(--gray-0);
    top: 0;
}

.btn-nav{
    position: relative;
    width: 45px;
    height: 35px;
}

.btn-nav__bars,
.btn-nav__bars::before,
.btn-nav__bars::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--gray-0);
    position: absolute;
    left: 0;
    transition: .5s ease;
}

.btn-nav__bars::before {
    top: 15px;
}
.btn-nav__bars::after{
    top: -15px;
}

/* Annimation de la croix */
.btn-nav[aria-expanded = true] .btn-nav__bars{
    transform: rotate(180deg);
    background-color: var(--gray-10);
}

.btn-nav[aria-expanded = true] .btn-nav__bars::before {
    transform: rotate(45deg);
    top: 0;
}
.btn-nav[aria-expanded = true] .btn-nav__bars::after{
    transform: rotate(135deg);
    top: 0;
}